.data-card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.data-card:hover {
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-icon-box {
    background-color: #38CAB3;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.card-icon {
    position: absolute;
    width: 70%;
    height: 70%;
    fill: white;
}

.card-numbers {
    font-size: 24px;
    font-weight: 600;
}

.card-sub-title {
    font-size: 15px;
    font-weight: 600;
    color: black;
}