@import '../../assets/scss/variables';

.hero-sidecard {
    position: relative;
    overflow: hidden;
    background-color: $theme-clr;

    .yellow-circle {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: #ffcc00;
        position: absolute;
        top: -13%;
        left: 30%;
    }

    .border-circle-1 {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 6px solid $red-clr;
        position: absolute;
        top: 47%;
        right: 4%;
    }

    .border-circle-2 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 3px solid #ffcc00;
        position: absolute;
        top: 62%;
        right: 15%;
    }

    .bottom-circle {
        height: 170px;
        width: 170px;
        border-radius: 50%;
        background-color: $theme-shade;
        position: absolute;
        bottom: -5%;
        right: -10%;
    }

    .hero-sidecard-overlay {
        position: absolute;
        height: 90%;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 20px;

        h5 {
            font-size: 22px;
            color: white;
            font-weight: 600;
        }

        h3 {
            font-size: 26px;
            font-weight: 600;
            color: rgb(11, 37, 88);
        }

        p {
            color: white;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .btn-1 {
        background-color: $purple-clr;
        border: 0
    }

    .btn-1:hover {
        background-color: $purple-clr !important;
        opacity: 0.9;
    }
    .btn-2 {
        background-color: $theme-shade;
        border: 0
    }
    .btn-2:hover {
        background-color: $theme-shade !important;
        opacity: 0.9;
    }
}

.custom-border{
    border: 1px solid rgba(128, 128, 128, 0.24);
}

@media screen and (max-width: 1200px) {
    .custom-height-card {
      height: 270px;
    }
  }