.accordion-bar {
    background-color: white;
    border-radius: 12px;

    .accordion-title {
        font-size: 18px;
        color: black;
        font-weight: 500;
    }

    .accordion-subtitle {
        font-size: 12px;
        color: #777777;
        font-weight: 500;
    }

    .order-value {
        font-size: 12px;
        color: #000000;
        font-weight: 500;
        margin-left: 5px;
    }


    .color-indicator {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: greenyellow;
    }

    .indicator-next-title{
        font-size: 13px;
        font-weight: 500;
        color: black;
        margin-left: 7px;
    }
    .order-qunatity{
        font-size: 13px;
        font-weight: 500;
        color: black;
    }

}