@import '../../assets/scss/variables';
  
 
  
.accordion-bar {
    background-color: $white;
    border: 1px solid rgba(128, 128, 128, 0.24) !important;
    border-radius: 12px; 
  
    .accordion-title {
        font-size: 16px;
        color: $dark;
        font-weight: 600;
        @media (max-width: 767px) {
            font-weight: bold;
            font-size: 9px;
        }
    }

    .accordion-subtitle {
        font-size: 12px;
        color: $muted;
        font-weight: 500;
        @media (max-width: 767px) { 
            font-size: 8px;
        }
    }
    .accordion-showtitle {
        font-size: 12px;
        color: #0A838A;
        @media (max-width: 767px) { 
            font-size: 7px;
        }
    }

    .order-value {
        font-size: 12px;
        color: $dark;
        font-weight: 500;
        margin-left: 5px; 
         @media (max-width: 767px) { 
            font-size: 6px;
        }
    }


    .color-indicator {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $green-clr;
    }

    .indicator-next-title {
        font-size: 13px;
        font-weight: 500;
        color: $dark;
        margin-left: 7px;
    }

    .order-qunatity {
        font-size: 13px;
        font-weight: 500;
        color: $dark;
    }
   
} 